<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo26</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app1">
        <span>Message is: {{ message }}</span>
        <br>
        <input type="text" v-model="message" placeholder="edit me">
        <br/>
        <span>Multiline message is:</span>
        <p>{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>
    <script>
        var vm=new Vue({
            el:'#app1',
            data:{
                message: 'Hello Vue.j2s!'
            },
            methods:{
                func1:function () {
                    console.log(this.message);
                }
            }
        })
        //测试数据的双向绑定
        var timer=setInterval(function () {
            vm.func1();
        },1000);
    </script>
</body>
</html>